.container
  - if user_signed_in?
    = form_for [prototype, comment],  method: :post,  id: "new_comment" do |f|
      = f.text_field :content, placeholder: 'type a comment'
      = f.submit 'send'


