\// $("#{@id_name}").html('#{j(render("likes/like_button", prototype: @prototype  ))}');
\// $("#= id_heart %&gt;").removeClass(".fa");
\// $(".fa").addClass(".fa.fa-heart.fa-2x.heart-red");

$("#likes_buttons").html("#{escape_javascript(render partial: 'likes/like_button', locals: {prototype: @prototype})}");
